body {
	background-color: orange;
}

.row {
	display: flex;
}

.col {
	flex: 1;
}

.col.instructions li {
	font-size: 20px;
	color: maroon;

}


h1, h2 {
	text-align: center;
}

h3.main-link {
	text-align: center;
	color: black;
}

h3#title {
	text-align: center;
}


.showcase.scratch-wrapper {
	text-align: center;
}

.instructions-wrapper {
	margin-top: 50px;
	text-align: center;	
}

.nav {
	width: 500px;
	margin-left:auto;
	margin-right: auto;
	display: flex;
	margin-bottom: 8px;
}

.button {
	flex: 1;
	display: inline;
}

.button	> span {
	border-bottom: solid 1px;
	cursor: pointer;
}

.button.prev{
	text-align:left;
}
.button.next{
	text-align:right;
}

.form input {
	padding: 4px 6px;
	border-radius: 4px;
}

.form .delete {
	cursor: pointer;
	color: maroon;
	font-weight: bold;
	text-align: center;
}

.toolbar {
	margin-top: 12px;
}

.button.add {
	border-radius: 8px;	
	border: solid 1px maroon;
	cursor: pointer;
	background-color: white;
	padding: 4px 8px;
}

.to-project {
		margin-top:20px;
		text-align:center;
}